.layout {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: Calc(var(--nav-height)) 0 24px 0;
  min-height: 100vh;
  box-sizing: border-box;
}
