.Home {
  background: url(../../assets/GC_HOMEPAGE_LargeTree.png) right bottom no-repeat;
  background-size: 100vw;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  min-height: 100vh;
  max-height: 100%;
}

.content {
  text-align: left;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
  padding: Calc(var(--nav-height) * 1.4) var(--side-margin) 24px
    var(--side-margin);
  /* padding: Calc(var(--nav-height) + 48px) var(--side-margin) 24px
    var(--side-margin); */
  /* THIS WAS GETTING ERRORS DURING BUILD SCRIPT LINTER WAS PUTTING IT ON TWO LINES
          SOLUTION: CHANGE CALC TO MULTIPLIER*/
  width: 40%;
}

.home-footer {
  padding: 24px var(--side-margin) 8px var(--side-margin);
}

.home-footer ul {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  padding: 0;
  width: 50%;
  background-color: var(--purple);
}

.home-footer ul li {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  color: white;
  text-transform: none;
  margin-right: 8px;
  font-size: 0.7rem;
}

.home-footer ul li img {
  width: 2rem;
  margin-right: -4px;
  margin-top: 0;
}
