/* div.bg {
  background-image: url("../../assets/just_tree.png");
  background-repeat: no-repeat;
  background-position: 85% 65%;
  background-attachment: fixed;
  background-size: 45vw auto;
} */

div.home-copy {
  /* width: 50%; */

  padding-bottom: 200px;

  display: flex;
  flex-direction: row;
}

div.home-copy div {
  width: 60%;
}

div.home-copy img {
  min-width: 40%;
  height: auto;
}

.home-footer {
  padding: 24px var(--side-margin) 8px var(--side-margin);
}

.home-footer ul {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  padding: 0;
  width: 50%;
  background-color: var(--purple);
}

.home-footer ul li {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  color: white;
  text-transform: none;
  margin-right: 8px;
  font-size: 0.7rem;
}

.home-footer ul li img {
  width: 2rem;
  margin-right: -4px;
  margin-top: 0;
}
