@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,800&display=swap");

:root {
  --purple: #693b93;
  --green: #b2c657;
  --nav-height: 120px;
  --side-margin: 140px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-weight: 600;
  margin: 0;
  margin-bottom: 12px;
}

h2 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.8rem;
}

h3 {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: var(--purple);
}

h4 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1rem;
}

h6 {
  font-weight: 400;
  font-size: 0.8rem;
}

p {
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}
