nav {
  position: fixed;
  z-index: 10;
  width: 100vw;
  background-color: var(--purple);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 36px var(--side-margin) 36px var(--side-margin);
  font-weight: 600;
  max-width: 2000px;
  width: inherit;
  box-sizing: border-box;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.dropdown div.dropdown-content a {
  color: var(--purple);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown div.dropdown-content a:hover {
  background-color: var(--purple);
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

ul.nav-buttons {
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  list-style: none;
  text-transform: uppercase;
  overflow: hidden;
  margin: 0;
  padding: 0;
  line-height: 1rem;
}

ul.nav-buttons li {
  margin: 0 12px;
  padding: 0;
}

ul.nav-buttons li.last-link {
  margin-right: 0;
}

ul.nav-buttons li a {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  white-space: nowrap;
}

ul.nav-buttons li a:hover {
  color: var(--green);
  cursor: pointer;
}

/* .logo {
  color: var(--purple);
}

.logo h2,
.logo h4 {
  margin: 0px 0px;
  color: white;
} */

.selected {
  color: var(--green);
}

object.logo {
  align-self: flex-end;
  justify-self: flex-start;
  height: 3rem;
  width: 300px;
  margin-left: -6px;
  z-index: 1;
}

object.logo img.logo {
  margin-top: 0;
  height: 3rem;
}

div.svg-wrap {
  display: inline-block;
}

button.svg {
  position: absolute;
  float: left;
  color: none;
  border: none;
  box-shadow: none;
  background: rgba(255, 0, 0, 0);
  z-index: 2;
  cursor: pointer;
  width: 300px;
  height: 3rem;
  padding: 0;
}
